<div class="list_wrap">
  <table class="list">
    <caption>Reimbursements List</caption>
      <tr>
        <th>Date</th>
        <th>Payer</th>
        <th>Money</th>
        <th>Description</th> 
        <th>Action</th>
      </tr>

    <% @pays.each do |pay| %>
      <tr>
        <td><%= pay.date %></td>
        <td><%= pay.payer %></td>
        <td><%= pay.money %></td>
        <td><%= pay.description %></td>
        <!-- <td><%= pay.status %></td> -->        

        <% if pay.is_paid? %>
          <td><%= image_tag("confirm.png", class: "confirm") %></td>          
        <% else %>         
          <td>
            <%= link_to "Paid",pay_path(pay, :page => params[:page]),:method => :patch %> | 
            <%= link_to "Delete",pay_path(pay, :page => params[:page]), :method => :delete, :confirm => "Are you sure?" %>
          </td>          
        <% end %>
        
      </tr>
    <%end%>    
  </table>

  <span class="page"><%= paginate @pays %></span>         <!-- 頁數按鈕 --> 
</div>
  
<button class="back"><a href="##"><%= link_to "Back to Home", root_path %></a></button>