<h1>reimbursements</h1>


<%= link_to "new", new_pay_path %>


<ul>
<% @pays.each do |pay| %>
<li>
        <%= pay.date %>
        <%= pay.payer %>
        <%= pay.money %>
        <%= pay.description %>
</li>
<%end%> 
</ul>