<ul>
  <% @pays.each do |pay| %>
  <li>
          Date:<%= pay.date %>
          Payer:<%= pay.payer %>
          Money:<%= pay.money %>
          Description:<%= pay.description %>
          <%= link_to "delete",pay_path(pay),:method => :delete %>
  </li>
  <%end%> 
  </ul>

  <%= link_to "Home", root_path %>